In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.datasets import fetch_openml
from sklearn.model_selection import KFold, train_test_split, GridSearchCV

from sklearn.base import BaseEstimator, TransformerMixin

from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.compose import ColumnTransformer

from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import (
    LinearDiscriminantAnalysis,
    QuadraticDiscriminantAnalysis,
)

from sklearn.metrics import accuracy_score

In [2]:

import os, sys
sys.path.append(os.path.dirname(os.getcwd()) + "\\general_python_scripts") #need to add folder "general_python_scripts" to path to be able to import following module
import data_cleaning_functions

In [3]:
df=pd.read_csv("train.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54607 entries, 0 to 54606
Data columns (total 41 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                54607 non-null  int64
 1   occ_code_level2   54607 non-null  int64
 2   age               29892 non-null  float64
 3   stock_dividends   29720 non-null  float64
 4   mig_chg_msa       26888 non-null  object
 5   tax_filer_stat    29121 non-null  object
 6   det_hh_summ       54607 non-null  object
 7   mig_prev_sunbelt  26888 non-null  object
 8   hisp_origin       54377 non-null  object
 9   education         29786 non-null  object
 10  wage_per_hour     29712 non-null  float64
 11  capital_losses    29850 non-null  float64
 12  vet_question      54607 non-null  object
 13  own_or_self       54607 non-null  int64
 14  country_self      53532 non-null  object
 15  mig_move_reg      26888 non-null  object
 16  high_income       54607 non-null  int64
 17  hs_college        29771 non-null  object
 18  class_worker      54607 non-null  object
 19  mig_same          54607 non-null  object
 20  unemp_reason      29642 non-null  object
 21  state_prev_res    54423 non-null  object
 22  ind_code_level2   54607 non-null  int64
 23  race              29759 non-null  object
 24  country_mother    52818 non-null  object
 25  capital_gains     29716 non-null  float64
 26  sex               30073 non-null  object
 27  ind_code_level1   54607 non-null  object
 28  citizenship       54607 non-null  object
 29  union_member      54607 non-null  object
 30  fam_under_18      54607 non-null  object
 31  marital_stat      29126 non-null  object
 32  region_prev_res   54607 non-null  object
 33  mig_chg_reg       26888 non-null  object
 34  country_father    52581 non-null  object
 35  occ_code_level1   54607 non-null  object
 36  full_or_part_emp  54607 non-null  object
 37  weeks_worked      30410 non-null  float64
 38  det_hh_fam_stat   54607 non-null  object
 39  num_emp           54607 non-null  int64
 40  vet_benefits      54607 non-null  int64
dtypes: float64(6), int64(7), object(28)
memory usage: 17.1+ MB

checking all rows containing NaN's

In [4]:
null_per_column = pd.DataFrame({ col : [df[col].isnull().sum().sum()] for col in df.columns if df[col].isnull().sum().sum()!=0}, index=['number_of_nan']).T.sort_values('number_of_nan')
null_per_column

                  number_of_nan
state_prev_res              184
hisp_origin                 230
country_self               1075
country_mother             1789
country_father             2026
weeks_worked              24197
sex                       24534
age                       24715
capital_losses            24757
education                 24821
hs_college                24836
race                      24848
stock_dividends           24887
capital_gains             24891
wage_per_hour             24895
unemp_reason              24965
marital_stat              25481
tax_filer_stat            25486
mig_prev_sunbelt          27719
mig_chg_msa               27719
mig_chg_reg               27719
mig_move_reg              27719

In [5]:
df['mig_prev_sunbelt'].isnull().sum().sum()

27719

In [6]:

for col in df.columns:
    print(col)

id
occ_code_level2
age
stock_dividends
mig_chg_msa
tax_filer_stat
det_hh_summ
mig_prev_sunbelt
hisp_origin
education
wage_per_hour
capital_losses
vet_question
own_or_self
country_self
mig_move_reg
high_income
hs_college
class_worker
mig_same
unemp_reason
state_prev_res
ind_code_level2
race
country_mother
capital_gains
sex
ind_code_level1
citizenship
union_member
fam_under_18
marital_stat
region_prev_res
mig_chg_reg
country_father
occ_code_level1
full_or_part_emp
weeks_worked
det_hh_fam_stat
num_emp
vet_benefits

In [7]:
df_changed, categories = data_cleaning_functions.change_to_cat(df,threshold=2)

In [8]:
very_close_categories = categories

In [9]:
almost_duplicates = data_cleaning_functions.check_almost_duplicates(categories)

TypeError: 'float' object is not iterable

In [ ]:
almost_duplicates

Empty DataFrame
Columns: []
Index: []