In [77]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.datasets import fetch_openml
from sklearn.model_selection import KFold, train_test_split, GridSearchCV

from sklearn.base import BaseEstimator, TransformerMixin

from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.compose import ColumnTransformer

from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import (
    LinearDiscriminantAnalysis,
    QuadraticDiscriminantAnalysis,
)

from sklearn.metrics import accuracy_score

import data_cleaning_functions

'c:\\Users\\vicki_la_tombe\\Documents\\stat_drive_shared\\spring\\ML\\Kaggle'

In [2]:
df=pd.read_csv("train.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54607 entries, 0 to 54606
Data columns (total 41 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                54607 non-null  int64
 1   occ_code_level2   54607 non-null  int64
 2   age               29892 non-null  float64
 3   stock_dividends   29720 non-null  float64
 4   mig_chg_msa       26888 non-null  object
 5   tax_filer_stat    29121 non-null  object
 6   det_hh_summ       54607 non-null  object
 7   mig_prev_sunbelt  26888 non-null  object
 8   hisp_origin       54377 non-null  object
 9   education         29786 non-null  object
 10  wage_per_hour     29712 non-null  float64
 11  capital_losses    29850 non-null  float64
 12  vet_question      54607 non-null  object
 13  own_or_self       54607 non-null  int64
 14  country_self      53532 non-null  object
 15  mig_move_reg      26888 non-null  object
 16  high_income       54607 non-null  int64
 17  hs_college        29771 non-null  object
 18  class_worker      54607 non-null  object
 19  mig_same          54607 non-null  object
 20  unemp_reason      29642 non-null  object
 21  state_prev_res    54423 non-null  object
 22  ind_code_level2   54607 non-null  int64
 23  race              29759 non-null  object
 24  country_mother    52818 non-null  object
 25  capital_gains     29716 non-null  float64
 26  sex               30073 non-null  object
 27  ind_code_level1   54607 non-null  object
 28  citizenship       54607 non-null  object
 29  union_member      54607 non-null  object
 30  fam_under_18      54607 non-null  object
 31  marital_stat      29126 non-null  object
 32  region_prev_res   54607 non-null  object
 33  mig_chg_reg       26888 non-null  object
 34  country_father    52581 non-null  object
 35  occ_code_level1   54607 non-null  object
 36  full_or_part_emp  54607 non-null  object
 37  weeks_worked      30410 non-null  float64
 38  det_hh_fam_stat   54607 non-null  object
 39  num_emp           54607 non-null  int64
 40  vet_benefits      54607 non-null  int64
dtypes: float64(6), int64(7), object(28)
memory usage: 17.1+ MB

checking all rows containing NaN's

In [36]:
null_per_column = pd.DataFrame({ col : [df[col].isnull().sum().sum()] for col in df.columns if df[col].isnull().sum().sum()!=0}, index=['number_of_nan']).T.sort_values('number_of_nan')
null_per_column

                  number_of_nan
state_prev_res              184
hisp_origin                 230
country_self               1075
country_mother             1789
country_father             2026
weeks_worked              24197
sex                       24534
age                       24715
capital_losses            24757
education                 24821
hs_college                24836
race                      24848
stock_dividends           24887
capital_gains             24891
wage_per_hour             24895
unemp_reason              24965
marital_stat              25481
tax_filer_stat            25486
mig_prev_sunbelt          27719
mig_chg_msa               27719
mig_chg_reg               27719
mig_move_reg              27719

In [22]:
df['mig_prev_sunbelt'].isnull().sum().sum()

27719

In [23]:

for col in df.columns:
    print(col)

id
occ_code_level2
age
stock_dividends
mig_chg_msa
tax_filer_stat
det_hh_summ
mig_prev_sunbelt
hisp_origin
education
wage_per_hour
capital_losses
vet_question
own_or_self
country_self
mig_move_reg
high_income
hs_college
class_worker
mig_same
unemp_reason
state_prev_res
ind_code_level2
race
country_mother
capital_gains
sex
ind_code_level1
citizenship
union_member
fam_under_18
marital_stat
region_prev_res
mig_chg_reg
country_father
occ_code_level1
full_or_part_emp
weeks_worked
det_hh_fam_stat
num_emp
vet_benefits

In [74]:
df_changed, categories = data_cleaning_functions.change_to_cat(df,threshold=2)

NameError: name 'data_cleaning_functions' is not defined

In [72]:
very_close_categories = categories

,mig_chg_msa,tax_filer_stat,det_hh_summ,mig_prev_sunbelt,hisp_origin,education,vet_question,country_self,mig_move_reg,high_income,...,citizenship,union_member,fam_under_18,marital_stat,region_prev_res,mig_chg_reg,country_father,occ_code_level1,full_or_part_emp,det_hh_fam_stat
0,Abroad to MSA,Head of household,Child 18 or older,No,All other,10th grade,No,Cambodia,Abroad,0,...,Foreign born- Not a citizen of U S,No,Both parents present,Divorced,Abroad,Abroad,Cambodia,Adm support including clerical,Children or Armed Forces,Child 18+ ever marr Not in a subfamily
1,Abroad to nonMSA,Joint both 65+,Child under 18 ever married,Not in universe,Central or South American,11th grade,Not in universe,Canada,Different county same state,1,...,Foreign born- U S citizen by naturalization,Not in universe,Father only present,Married-A F spouse present,Midwest,Different county same state,Canada,Armed Forces,Full-time schedules,Child 18+ ever marr RP of subfamily
2,MSA to MSA,Joint both under 65,Child under 18 never married,Yes,Chicano,12th grade no diploma,Yes,China,Different state in Midwest,None,...,Native- Born abroad of American Parent(s),Yes,Mother only present,Married-civilian spouse present,Northeast,Different division same region,China,Executive admin and managerial,Not in labor force,Child 18+ never marr Not in a subfamily
3,MSA to nonMSA,Joint one under 65 & one 65+,Group Quarters- Secondary individual,NaN,Cuban,1st 2nd 3rd or 4th grade,None,Columbia,Different state in Northeast,None,...,Native- Born in Puerto Rico or U S Outlying,None,Neither parent present,Married-spouse absent,Not in universe,Different region,Columbia,Farming forestry and fishing,PT for econ reasons usually FT,Child 18+ never marr RP of subfamily
4,NonMSA to MSA,Nonfiler,Householder,None,Do not know,5th or 6th grade,None,Cuba,Different state in South,None,...,Native- Born in the United States,None,Not in universe,Never married,South,Different state same division,Cuba,Handlers equip cleaners etc,PT for econ reasons usually PT,Child 18+ spouse of subfamily RP
5,NonMSA to nonMSA,Single,Nonrelative of householder,None,Mexican (Mexicano),7th and 8th grade,None,Dominican-Republic,Different state in West,None,...,None,None,None,Separated,West,Nonmover,Dominican-Republic,Machine operators assmblrs & inspctrs,PT for non-econ reasons usually FT,Child <18 ever marr RP of subfamily
6,Nonmover,NaN,Other relative of householder,None,Mexican-American,9th grade,None,Ecuador,Nonmover,None,...,None,None,None,Widowed,None,Not in universe,Ecuador,Not in universe,Unemployed full-time,Child <18 ever marr not in subfamily
7,Not identifiable,None,Spouse of householder,None,Other Spanish,Associates degree-academic program,None,El-Salvador,Not in universe,None,...,None,None,None,NaN,None,Same county,El-Salvador,Other service,Unemployed part- time,Child <18 never marr RP of subfamily
8,Not in universe,None,None,None,Puerto Rican,Associates degree-occup /vocational,None,England,Same county,None,...,None,None,None,None,None,NaN,England,Precision production craft & repair,None,Child <18 never marr not in subfamily
9,NaN,None,None,None,NaN,Bachelors degree(BA AB BS),None,France,NaN,None,...,None,None,None,None,None,None,France,Private household services,None,Child <18 spouse of subfamily RP
10,None,None,None,None,None,Children,None,Germany,None,None,...,None,None,None,None,None,None,Germany,Professional specialty,None,Child under 18 of RP of unrel subfamily
11,None,None,None,None,None,Doctorate degree(PhD EdD),None,Greece,None,None,...,None,None,None,None,None,None,Greece,Protective services,None,Grandchild 18+ ever marr RP of subfamily
12,None,None,None,None,None,High school graduate,None,Guatemala,None,None,...,None,None,None,None,None,None,Guatemala,Sales,None,Grandchild 18+ ever marr not in subfamily
13,None,None,None,None,None,Less than 1st grade,None,Haiti,None,None,...,None,None,None,None,None,None,Haiti,Technicians and related support,None,Grandchild 18+ never marr RP of subfamily
14,None,None,None,None,None,Masters degree(MA MS MEng MEd MSW MBA),None,Holand-Netherlands,None,None,...,None,None,None,None,None,None,Holand-Netherlands,Transportation and material moving,None,Grandchild 18+ never marr not in subfamily
15,None,None,None,None,None,Prof school degree (MD DDS DVM LLB JD),None,Honduras,None,None,...,None,None,None,None,None,None,Honduras,None,None,Grandchild 18+ spouse of subfamily RP
16,None,None,None,None,None,Some college but no degree,None,Hong Kong,None,None,...,None,None,None,None,None,None,Hong Kong,None,None,Grandchild <18 never marr child of subfamily RP
17,None,None,None,None,None,NaN,None,Hungary,None,None,...,None,None,None,None,None,None,Hungary,None,None,Grandchild <18 never marr not in subfamily
18,None,None,None,None,None,None,None,India,None,None,...,None,None,None,None,None,None,India,None,None,Householder
19,None,None,None,None,None,None,None,Iran,None,None,...,None,None,None,None,None,None,Iran,None,None,In group quarters
20,None,None,None,None,None,None,None,Ireland,None,None,...,None,None,None,None,None,None,Ireland,None,None,Nonfamily householder
21,None,None,None,None,None,None,None,Italy,None,None,...,None,None,None,None,None,None,Italy,None,None,Other Rel 18+ ever marr RP of subfamily
22,None,None,None,None,None,None,None,Jamaica,None,None,...,None,None,None,None,None,None,Jamaica,None,None,Other Rel 18+ ever marr not in subfamily
23,None,None,None,None,None,None,None,Japan,None,None,...,None,None,None,None,None,None,Japan,None,None,Other Rel 18+ never marr RP of subfamily
24,None,None,None,None,None,None,None,Laos,None,None,...,None,None,None,None,None,None,Laos,None,None,Other Rel 18+ never marr not in subfamily
25,None,None,None,None,None,None,None,Mexico,None,None,...,None,None,None,None,None,None,Mexico,None,None,Other Rel 18+ spouse of subfamily RP
26,None,None,None,None,None,None,None,Nicaragua,None,None,...,None,None,None,None,None,None,Nicaragua,None,None,Other Rel <18 ever marr RP of subfamily
27,None,None,None,None,None,None,None,Outlying-U S (Guam USVI etc),None,None,...,None,None,None,None,None,None,Outlying-U S (Guam USVI etc),None,None,Other Rel <18 ever marr not in subfamily
28,None,None,None,None,None,None,None,Panama,None,None,...,None,None,None,None,None,None,Panama,None,None,Other Rel <18 never marr child of subfamily RP
29,None,None,None,None,None,None,None,Peru,None,None,...,None,None,None,None,None,None,Peru,None,None,Other Rel <18 never marr not in subfamily
30,None,None,None,None,None,None,None,Philippines,None,None,...,None,None,None,None,None,None,Philippines,None,None,RP of unrelated subfamily
31,None,None,None,None,None,None,None,Poland,None,None,...,None,None,None,None,None,None,Poland,None,None,Secondary individual
32,None,None,None,None,None,None,None,Portugal,None,None,...,None,None,None,None,None,None,Portugal,None,None,Spouse of RP of unrelated subfamily
33,None,None,None,None,None,None,None,Puerto-Rico,None,None,...,None,None,None,None,None,None,Puerto-Rico,None,None,Spouse of householder
34,None,None,None,None,None,None,None,Scotland,None,None,...,None,None,None,None,None,None,Scotland,None,None,None
35,None,None,None,None,None,None,None,South Korea,None,None,...,None,None,None,None,None,None,South Korea,None,None,None
36,None,None,None,None,None,None,None,Taiwan,None,None,...,None,None,None,None,None,None,Taiwan,None,None,None
37,None,None,None,None,None,None,None,Thailand,None,None,...,None,None,None,None,None,None,Thailand,None,None,None
38,None,None,None,None,None,None,None,Trinadad&Tobago,None,None,...,None,None,None,None,None,None,Trinadad&Tobago,None,None,None
39,None,None,None,None,None,None,None,United-States,None,None,...,None,None,None,None,None,None,United-States,None,None,None
40,None,None,None,None,None,None,None,Vietnam,None,None,...,None,None,None,None,None,None,Vietnam,None,None,None
41,None,None,None,None,None,None,None,Yugoslavia,None,None,...,None,None,None,None,None,None,Yugoslavia,None,None,None
42,None,None,None,None,None,None,None,NaN,None,None,...,None,None,None,None,None,None,NaN,None,None,None
43,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
44,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
45,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
46,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
47,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
48,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
49,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
sorted(['a','b'])

['a', 'b']